services:
  frontend:
    image: node:22
    container_name: asl-frontend
    working_dir: /usr/local/app/frontend
    command: /usr/local/app/docker/scripts/start-frontend.sh
    volumes:
      - ${PROJECT_HOME}:/usr/local/app/frontend
      - ${PROJECT_HOME}/docker:/usr/local/app/docker
      - ${PROJECT_HOME}/docker/mnt/frontend/node_modules:/usr/local/app/frontend/node_modules
    stop_signal: SIGKILL
    logging:
      options:
        max-size: "10k"
        max-file: "3"

